* {
  font-family: "Inter";
  color: rgb(139, 139, 139);
}

/* 

***************************************************************
***************************************************************
***************************************************************
  Desktop Sizing
***************************************************************
***************************************************************
**************************************************************

*/
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navigation .navigation__logo {
    display: none;
  }
  .navigation .navigation__menu {
    display: none;
  }
  .navigation .navigation__name {
    font-size: 20px;
    margin-left: 5%;
    width: 20%;
    color: black;
  }
  .navigation .navigation__menuContainer--desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50%;
    width: 40%;
  }
  .navigation .navigation__menuContainer--desktop .navigation__menu--desktop {
    margin-left: 20px;
  }
  .navigation .navigation__menuContainer--desktop .navigation__menu--desktop h1 {
    font-size: 16px;
  }
  .navigation .navigation__menuContainer--desktop .navigation__menu--desktop button {
    background-color: rgb(186, 232, 232);
    border: solid 1px black;
    border-radius: 5px;
    color: black;
    padding: 10px;
  }
  /* 

  ***************************************************************
  Hero Image
  **************************************************************

  */
  .heroImage__container {
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 227, 235);
    align-items: center;
  }
  .heroImage__container .heroImage__greeting {
    margin-bottom: 0;
    padding-top: 5%;
    color: rgb(114, 114, 114);
  }
  .heroImage__container .heroImage__softwareDeveloper {
    margin-top: 1px;
    font-size: 50px;
    color: black;
    text-align: center;
  }
  .heroImage__container .heroImage__button {
    width: 40%;
    height: 50px;
    font-size: 30px;
    box-shadow: 2px 2px rgb(35, 35, 35);
    border-radius: 7px;
    background-color: #98c1ff;
    border: solid black 2px;
    color: black;
    margin-bottom: 100px;
  }
  /* 

  ***************************************************************
  Technical Skills
  **************************************************************

  */
  .technicalSkills {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
  }
  .technicalSkills .techicalSkills__title {
    margin-bottom: -30px;
    text-align: center;
    color: black;
  }
  .technicalSkills .technicalSkills__blueBlock {
    background-color: #98c1ff;
    height: 2vh;
    width: 40vw;
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 50px;
  }
  .technicalSkills__description--desktop {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
  }
  .technicalSkills__description--desktop .techicalSkills__image {
    display: none;
  }
  .technicalSkills__gridContainer {
    margin-top: 80px;
    margin-left: 15%;
    width: 80%;
    display: grid;
    gap: 30px;
    grid-template-columns: 8% 8% 8% 8% 8% 8% 8% 8% 8%;
  }
  .technicalSkills__gridContainer .technicalSkills__gridImage {
    height: 70px;
    width: 70px;
  }
  /* 

  ***************************************************************
  MyProjects
  **************************************************************

  */
  .myProject .myProject__container--desktop {
    display: flex;
  }
  .myProject .myProject__container--desktop .myProject__description {
    display: none;
  }
  .myProject__container {
    display: flex;
  }
  .myProject__container .myProject__description {
    display: none;
  }
  .myProject .myProject__title {
    text-align: center;
    margin-bottom: -30px;
    color: black;
  }
  .myProject__blueBlock {
    background-color: #98c1ff;
    height: 2vh;
    width: 40vw;
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 50px;
  }
  .myProject__blueBlock .myProject__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 400px;
  }
  .myProject__image {
    width: 90%;
    height: 200px;
    margin-top: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .myProject__technology {
    margin-left: 2.5%;
    margin-bottom: 0;
    color: #98c1ff;
  }
  .myProject__projectTitle {
    margin-bottom: 0;
    margin-left: 2.5%;
    color: rgb(0, 0, 0);
  }
  .myProject__description--desktop {
    margin-left: 2.5%;
    text-justify: auto;
    margin-right: 10px;
  }
  .myProject__view {
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    align-content: center;
  }
  .myProject__view .myProject__codeLink {
    height: 2vh;
    width: 3vh;
    margin-right: 20px;
  }
  .myProject__view .myProject__webLink {
    height: 1.5vh;
    width: 3vh;
  }
  /* 

  ***************************************************************
  About Me
  **************************************************************

  */
  .aboutMe {
    text-align: center;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;
  }
  .aboutMe .aboutMe__description {
    display: none;
  }
  .aboutMe .aboutMe__text {
    width: 40%;
    text-align: start;
    margin-right: 50px;
  }
  .aboutMe .aboutMe__text .aboutMe__header {
    color: black;
  }
  .aboutMe .aboutMe__image {
    width: 30%;
    height: 300px;
    margin-left: 30px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  footer {
    background-color: #0b387c;
    color: white;
    height: 100px;
    text-align: center;
    align-content: center;
  }
}
/* 

***************************************************************
***************************************************************
***************************************************************
  MOBILE SIZING
***************************************************************
***************************************************************
**************************************************************

*/
@media screen and (max-width: 768px) {
  .navigation {
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navigation .navigation__logo {
    height: 50%;
    width: 10%;
  }
  .navigation .navigation__name {
    width: 75%;
    margin-left: 5%;
    color: black;
  }
  .navigation .navigation__menu {
    height: 50%;
    width: 8%;
  }
  .navigation .navigation__menuContainer--desktop {
    display: none;
  }
  /* 

  ***************************************************************
  Hero Image
  **************************************************************

  */
  .heroImage__container {
    background-color: rgb(247, 250, 250);
    height: 100vh;
  }
  .heroImage__container .heroImage__greeting {
    margin-left: 10%;
    padding-top: 30%;
    color: black;
  }
  .heroImage__container .heroImage__softwareDeveloper {
    margin-left: 10%;
    font-size: 7vh;
    margin-top: 3vh;
    color: black;
  }
  .heroImage__container .heroImage__button {
    margin-left: 10%;
    width: 80%;
    height: 8vh;
    font-size: 3vh;
    box-shadow: 5px 5px rgb(35, 35, 35);
    border-radius: 5px;
    background-color: #98c1ff;
    border: solid black 2px;
    color: black;
  }
  /* 

  ***************************************************************
  Technical Skills
  **************************************************************

  */
  .technicalSkills .techicalSkills__title {
    margin-bottom: -30px;
    text-align: center;
    color: black;
  }
  .technicalSkills .technicalSkills__blueBlock {
    background-color: #98c1ff;
    height: 2vh;
    width: 40vw;
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 50px;
  }
  .technicalSkills .techicalSkills__image {
    width: 600px;
  }
  .technicalSkills .technicalSkills__description--desktop {
    display: none;
  }
  .technicalSkills__gridContainer {
    margin-top: 80px;
    margin-left: 32%;
    display: grid;
    gap: 30px;
    grid-template-columns: 15% 15% 15%;
    grid-template-rows: 30% 30% 30%;
  }
  .technicalSkills__gridContainer .technicalSkills__gridImage {
    height: 35px;
    width: 35px;
  }
  /* 

  ***************************************************************
  My Project
  **************************************************************

  */
  .myProject .myProject__title {
    text-align: center;
    margin-bottom: -30px;
    color: black;
  }
  .myProject .myProject__blueBlock {
    background-color: #98c1ff;
    height: 2vh;
    width: 40vw;
    margin-top: 10px;
    margin-left: 30%;
    margin-bottom: 50px;
  }
  .myProject .myProject__container--desktop {
    display: none;
  }
  .myProject .myProject__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .myProject .myProject__container .myProject__image {
    width: 95%;
    margin: auto;
  }
  .myProject .myProject__container .myProject__technology {
    margin-left: 2.5%;
    margin-bottom: 0;
    color: #98c1ff;
  }
  .myProject .myProject__container .myProject__projectTitle {
    margin-bottom: 0;
    margin-left: 2.5%;
    color: rgb(0, 0, 0);
  }
  .myProject .myProject__container .myProject__description {
    margin-left: 2.5%;
    text-justify: auto;
  }
  .myProject .myProject__container .myProject__description--desktop {
    display: none;
  }
  .myProject .myProject__container .myProject__view {
    margin-left: 2.5%;
    display: flex;
    align-items: center;
  }
  .myProject .myProject__container .myProject__view .myProject__codeLink {
    height: 4vh;
    width: 8vh;
    margin-right: 20px;
  }
  .myProject .myProject__container .myProject__view .myProject__webLink {
    height: 6vh;
    width: 8vh;
  }
  /* 

  ***************************************************************
  about me
  **************************************************************

  */
  .aboutMe {
    text-align: center;
  }
  .aboutMe .aboutMe__description--desktop {
    display: none;
  }
  .aboutMe .aboutMe__image {
    width: 80%;
    height: 600px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aboutMe .aboutMe__description {
    margin-top: 2vh;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    text-justify: inter-word;
  }
  footer {
    background-color: #98c1ff;
    color: white;
    height: 100px;
    text-align: center;
    align-content: center;
  }
}/*# sourceMappingURL=styles.css.map */