$accentblue: #98c1ff;

* {
  font-family: "Inter";
  color: rgb(139, 139, 139);
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;

    .navigation__logo {
      display: none;
    }

    .navigation__menu {
      display: none;
    }

    .navigation__name {
      font-size: 2vh;
      margin-left: 10%;
      width: 20%;
      color: black;
    }

    .navigation__menuContainer--desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 30%;
      width: 40%;

      .navigation__menu--desktop {
        margin-left: 20px;
      }

      .navigation__menu--desktop h1 {
        font-size: 1vh;
      }

      .navigation__menu--desktop button {
        background-color: $accentblue;
        border: solid 1px black;
        border-radius: 5px;
        color: black;
      }
    }
  }

  .heroImage__container {
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 227, 235);
    height: 60vh;
    align-items: center;

    .heroImage__greeting {
      padding-top: 10%;
      color: black;
    }

    .heroImage__softwareDeveloper {
      margin-left: 10%;
      font-size: 5vh;
      margin-top: 3vh;
      color: black;
      text-align: center;
    }

    .heroImage__button {
      width: 40%;
      height: 8vh;
      font-size: 2vh;
      box-shadow: 2px 2px rgb(35, 35, 35);
      border-radius: 7px;
      background-color: $accentblue;
      border: solid black 2px;
      color: black;
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    .navigation__logo {
      height: 50%;
      width: 10%;
    }

    .navigation__name {
      width: 75%;
      margin-left: 5%;
      color: black;
    }

    .navigation__menu {
      height: 50%;
      width: 8%;
    }

    .navigation__menuContainer--desktop {
      display: none;
    }
  }

  .heroImage__container {
    background-color: rgb(161, 161, 161);
    height: 100vh;

    .heroImage__greeting {
      margin-left: 10%;
      padding-top: 30%;
      color: black;
    }

    .heroImage__softwareDeveloper {
      margin-left: 10%;
      font-size: 7vh;
      margin-top: 3vh;
      color: black;
    }

    .heroImage__button {
      margin-left: 10%;
      width: 80%;
      height: 8vh;
      font-size: 3vh;
      box-shadow: 5px 5px rgb(35, 35, 35);
      border-radius: 5px;
      background-color: $accentblue;
      border: solid black 2px;
      color: black;
    }
  }

  .technicalSkills {
    height: 600px;

    .techicalSkills__title {
      margin-bottom: -30px;
      text-align: center;
      color: black;
    }

    .technicalSkills__blueBlock {
      background-color: $accentblue;
      height: 2vh;
      width: 40vw;
      margin-top: 10px;
      margin-left: 30%;
      margin-bottom: 50px;
    }

    .techicalSkills__image {
      width: 600px;
    }
  }
  .myProject {
    margin-top: 360px;

    .myProject__title {
      text-align: center;
      margin-bottom: -30px;
      color: black;
    }

    .myProject__blueBlock {
      background-color: $accentblue;
      height: 2vh;
      width: 40vw;
      margin-top: 10px;
      margin-left: 30%;
      margin-bottom: 50px;
    }

    .myProject__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;

      .myProject__image {
        width: 95%;
        margin: auto;
      }

      .myProject__technology {
        margin-left: 2.5%;
        margin-bottom: 0;
        color: $accentblue;
      }

      .myProject__projectTitle {
        margin-bottom: 0;
        margin-left: 2.5%;
        color: rgb(0, 0, 0);
      }

      .myProject__description {
        margin-left: 2.5%;
        text-justify: auto;
      }

      .myProject__view {
        margin-left: 2.5%;
        display: flex;
        align-items: center;

        .myProject__codeLink {
          height: 4vh;
          width: 8vh;
          margin-right: 20px;
        }

        .myProject__webLink {
          height: 4vh;
          width: 8vh;
        }
      }
    }
  }

  .aboutMe {
    text-align: center;

    .aboutMe__image {
      width: 80%;
      height: 600px;
      object-fit: cover;
    }

    .aboutMe__description {
      margin-top: 2vh;
      margin-left: 10%;
      margin-right: 10%;
      text-align: justify;
      text-justify: inter-word;
    }
  }

  footer {
    background-color: $accentblue;
    color: white;
    height: 100px;
    text-align: center;
    align-content: center;
  }
}
