@use "../../styles/variables.scss" as *;

@media screen and (min-width: 768px) {
  .myProject {
    width: 100%;
    justify-content: center;

    .myProject__container--desktop {
      display: flex;
      padding-left: 40px;

      .myProject__description {
        display: none;
      }
    }
  }

  .myProject__container {
    display: flex;
    justify-content: center;
    padding-left: 50px;

    .myProject__description {
      display: none;
    }
  }

  .myProject .myProject__title {
    margin-left: 44%;
    margin-bottom: -30px;
    color: black;
    font-weight: 900;
  }
  .myProject__blueBlock {
    background-color: $accentblue;
    height: 12px;
    width: 170px;
    margin-top: 18px;
    margin-left: 43%;
    margin-bottom: 50px;
    z-index: 0;

    .myProject__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      height: 400px;
    }
  }

  .myProject__image {
    width: 90%;
    height: 200px;
    margin-top: 0;
    object-fit: cover;
  }
  .myProject__technology {
    margin-bottom: 0;
    color: #98c1ff;
  }
  .myProject__projectTitle {
    margin-bottom: 0;
    color: rgb(0, 0, 0);
  }
  .myProject__description--desktop {
    text-justify: auto;
    margin-right: 30px;
  }
  .myProject__view {
    display: flex;
    align-items: center;
    align-content: center;

    .myProject__codeLink {
      height: 20px;
      width: 25px;
      margin-right: 20px;
    }
    .myProject__webLink {
      height: 20px;
      width: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .myProject {
    .myProject__title {
      text-align: center;
      margin-bottom: -30px;
      color: black;
      font-weight: 900;
    }
    .myProject__blueBlock {
      background-color: $accentblue;
      height: 2vh;
      width: 25vw;
      margin-top: 18px;
      margin-left: 36%;
      margin-bottom: 50px;
    }

    .myProject__container--desktop {
      display: none;
    }

    .myProject__container {
      display: flex;
      flex-direction: column;
      margin: auto;

      .myProject__item {
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: justify;
        text-justify: inter-word;
      }

      .myProject__image {
        width: 95%;
        margin: auto;
      }
      .myProject__technology {
        margin-left: 2.5%;
        margin-bottom: 0;
        color: #98c1ff;
      }
      .myProject__projectTitle {
        margin-bottom: 0;
        margin-left: 2.5%;
        color: rgb(0, 0, 0);
        font-weight: 900;
      }
      .myProject__description {
        margin-left: 2.5%;
        text-justify: auto;
        margin-right: 4%;
      }
      .myProject__description--desktop {
        display: none;
      }

      .myProject__view {
        margin-left: 2.5%;
        display: flex;
        align-items: center;

        .myProject__codeLink {
          height: 4vh;
          width: 8vh;
          margin-right: 20px;
        }
        .myProject__webLink {
          height: 6vh;
          width: 8vh;
        }

        h4 {
          color: black;
          font-weight: 900;
        }
      }
    }
  }
}
