/*
      TO DO 
          adjust font-weight

          add links 
                code and preview for each projects 
                build out burger menu 
                add content
*/

/* 
  
***************************************************************
***************************************************************
***************************************************************
  Desktop Sizing
***************************************************************
***************************************************************
**************************************************************

*/

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;

    .navigation__logo {
      display: none;
    }

    .navigation__menu {
      display: none;
    }
    .navigation__name {
      font-size: 20px;
      margin-left: 5%;
      width: 20%;
      color: black;
      font-weight: 900;
    }
    .navigation__menuContainer--desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 50%;
      width: 40%;

      .navigation__menu--desktop {
        margin-left: 20px;
      }
      .navigation__menu--desktop h1 {
        font-size: 16px;
      }
      .navigation__menu--desktop button {
        background-color: $accentblue;
        border: solid 1px black;
        box-shadow: 1px 1px;
        border-radius: 5px;
        color: black;
        padding: 10px;
      }

      .navigation__menu--desktop button:hover {
        box-shadow: 0px 0px;
      }
    }
  }

  /* 
  
***************************************************************
Hero Image - Desktop Sizing
**************************************************************

*/

  /* 
  
***************************************************************
Technical Skills - Desktop Sizing
**************************************************************

*/

  .technicalSkills {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;

    .techicalSkills__title {
      margin-bottom: -30px;
      margin-left: 43%;
      color: black;
      z-index: 1;
      font-weight: 900;
    }
    .technicalSkills__blueBlock {
      background-color: $accentblue;
      height: 12px;
      width: 199px;
      margin-top: 18px;
      margin-left: 42.2%;
      margin-bottom: 50px;
      z-index: 0;
    }
  }

  .technicalSkills__description--desktop {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;

    .techicalSkills__image {
      display: none;
    }
  }

  .technicalSkills__gridContainer {
    margin-top: 80px;
    margin-left: 12%;
    width: 80%;
    display: grid;
    gap: 30px;
    grid-template-columns: 8% 8% 8% 8% 8% 8% 8% 8% 8%;

    .technicalSkills__gridItem {
      justify-content: center;
    }

    .technicalSkills__gridItem p {
      font-size: 13px;
      color: grey;
      text-align: center;
      margin-right: 20%;
    }

    .technicalSkills__gridImage {
      height: 70px;
      width: 70px;
    }
  }

  /* 
  
***************************************************************
MyProjects - Desktop Sizing
**************************************************************

*/

  .myProject {
    width: 100%;
    justify-content: center;

    .myProject__container--desktop {
      display: flex;
      padding-left: 40px;

      .myProject__description {
        display: none;
      }
    }
  }

  .myProject__container {
    display: flex;
    justify-content: center;
    padding-left: 50px;

    .myProject__description {
      display: none;
    }
  }

  .myProject .myProject__title {
    margin-left: 44%;
    margin-bottom: -30px;
    color: black;
    font-weight: 900;
  }
  .myProject__blueBlock {
    background-color: $accentblue;
    height: 12px;
    width: 170px;
    margin-top: 18px;
    margin-left: 43%;
    margin-bottom: 50px;
    z-index: 0;

    .myProject__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      height: 400px;
    }
  }

  .myProject__image {
    width: 90%;
    height: 200px;
    margin-top: 0;
    object-fit: cover;
  }
  .myProject__technology {
    margin-bottom: 0;
    color: #98c1ff;
  }
  .myProject__projectTitle {
    margin-bottom: 0;
    color: rgb(0, 0, 0);
  }
  .myProject__description--desktop {
    text-justify: auto;
    margin-right: 30px;
  }
  .myProject__view {
    display: flex;
    align-items: center;
    align-content: center;

    .myProject__codeLink {
      height: 20px;
      width: 25px;
      margin-right: 20px;
    }
    .myProject__webLink {
      height: 20px;
      width: 20px;
    }
  }

  /* 
  
***************************************************************
About Me - Desktop Sizing
**************************************************************

*/

  .aboutMe {
    text-align: center;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;

    .aboutMe__description {
      display: none;
    }

    .aboutMe__text {
      width: 40%;
      text-align: start;
      margin-right: 50px;
      margin-top: 60px;

      .aboutMe__title {
        color: black;
      }
    }

    .aboutMe__image {
      height: 300px;
      margin-left: 30px;
      object-fit: cover;
    }
  }

  footer {
    background-color: #020048;
    height: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;

    .footer__img {
      height: 15px;
      margin-left: 10px;
      padding: 5px;
      border-radius: 50%;
      background-color: $accentblue;
    }

    .footer__img--desktop {
      display: none;
    }

    p {
      width: 80%;
      text-align: start;
      margin-left: 8%;
      color: white;
    }

    .footer__email {
      display: none;
    }

    .footer__img--desktop {
      display: none;
    }
  }
}

/* 
  
***************************************************************
***************************************************************
***************************************************************
  MOBILE SIZING
***************************************************************
***************************************************************
**************************************************************

*/

@media screen and (max-width: 768px) {
  .navigation {
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    .navigation__logo {
      height: 30px;
      width: 10%;
    }
    .navigation__name {
      width: 75%;
      margin-left: 5%;
      color: black;
      font-weight: 900;
    }
    .navigation__menu {
      height: 30px;
      width: 8%;
    }
    .navigation__menuContainer--desktop {
      display: none;
    }
  }

  /* 
  
***************************************************************
Hero Image -   MOBILE SIZING
**************************************************************

*/
  .heroImage__container {
    background-color: rgb(247, 250, 250);
    height: 100vh;

    .heroImage__greetingContainer {
      display: flex;

      .heroImage__greeting {
        margin-left: 10%;
        padding-top: 30%;
        color: grey;
        font-weight: 900;
        align-items: center;
      }

      .heroImage__greetingImg {
        padding-top: 32%;
        height: 40px;
      }
    }

    .heroImage__softwareDeveloper {
      margin-left: 10%;
      font-size: 7vh;
      margin-top: 3vh;
      color: black;
      font-weight: 900;
    }
    .heroImage__button {
      margin-left: 10%;
      width: 80%;
      height: 8vh;
      font-size: 3vh;
      box-shadow: 5px 5px rgb(35, 35, 35);
      border-radius: 5px;
      background-color: $accentblue;
      border: solid black 2px;
      color: black;
      font-weight: 900;
    }

    .heroImage__button:hover {
      box-shadow: 1px 1px rgb(35, 35, 35);
    }
  }

  /* 
  
***************************************************************
Technical Skills -   MOBILE SIZING
**************************************************************

*/
  .technicalSkills {
    .techicalSkills__title {
      margin-bottom: -30px;
      text-align: center;
      color: black;
      font-weight: 900;
    }
    .technicalSkills__blueBlock {
      background-color: $accentblue;
      height: 2vh;
      width: 25vw;
      margin-top: 18px;
      margin-left: 37%;
      margin-bottom: 50px;
    }

    .technicalSkills__description--desktop {
      display: none;
    }
  }

  .technicalSkills__gridContainer {
    margin-top: 80px;
    margin-left: 25%;
    display: grid;
    gap: 30px;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 30% 30% 30%;

    .technicalSkills__gridItem {
      justify-items: center;
    }

    .technicalSkills__gridItem p {
      font-size: 13px;
      color: grey;
      text-align: center;
      margin-right: 40%;
    }

    .technicalSkills__gridImage {
      height: 35px;
      width: 35px;
      margin-left: 10px;
    }
  }

  /* 
  
***************************************************************
My Project -  MOBILE SIZING
**************************************************************

*/
  .myProject {
    .myProject__title {
      text-align: center;
      margin-bottom: -30px;
      color: black;
      font-weight: 900;
    }
    .myProject__blueBlock {
      background-color: $accentblue;
      height: 2vh;
      width: 25vw;
      margin-top: 18px;
      margin-left: 36%;
      margin-bottom: 50px;
    }

    .myProject__container--desktop {
      display: none;
    }

    .myProject__container {
      display: flex;
      flex-direction: column;
      margin: auto;

      .myProject__item {
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: justify;
        text-justify: inter-word;
      }

      .myProject__image {
        width: 95%;
        margin: auto;
      }
      .myProject__technology {
        margin-left: 2.5%;
        margin-bottom: 0;
        color: #98c1ff;
      }
      .myProject__projectTitle {
        margin-bottom: 0;
        margin-left: 2.5%;
        color: rgb(0, 0, 0);
        font-weight: 900;
      }
      .myProject__description {
        margin-left: 2.5%;
        text-justify: auto;
        margin-right: 4%;
      }
      .myProject__description--desktop {
        display: none;
      }

      .myProject__view {
        margin-left: 2.5%;
        display: flex;
        align-items: center;

        .myProject__codeLink {
          height: 4vh;
          width: 8vh;
          margin-right: 20px;
        }
        .myProject__webLink {
          height: 6vh;
          width: 8vh;
        }

        h4 {
          color: black;
          font-weight: 900;
        }
      }
    }
  }

  /* 
  
***************************************************************
about me -  MOBILE SIZING
**************************************************************

*/
  .aboutMe {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;

    .aboutMe__title {
      font-weight: 900;
      color: black;
    }
    .aboutMe__description--desktop {
      display: none;
    }

    .aboutMe__image {
      width: 80%;
      height: 600px;
      -o-object-fit: cover;
      object-fit: cover;
    }

    .aboutMe__description {
      margin-top: 2vh;
      margin-left: 10%;
      margin-right: 10%;
      text-align: justify;
      text-justify: inter-word;
    }
  }

  footer {
    background-color: #020048;
    color: white;
    height: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    .footer__imgContainer {
      display: flex;
      align-items: center;
    }

    .footer__img {
      height: 30px;
      margin-left: 10px;
      background-color: $accentblue;
      padding: 10px;
      border-radius: 50%;
    }

    .footer__email {
      margin-left: 14px;
      margin-top: 0px;
      width: 80%;
      color: white;
      padding-bottom: 10px;
    }

    .footer__img--desktop {
      background-color: $accentblue;
      padding: 14px;
      margin-left: 10px;
      border-radius: 50%;
      color: white;
    }

    .footer__email--desktop {
      display: none;
    }
  }
}
